@model (string WidgetZone, int OrderId)
@using System;
@using System.Web;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json.Serialization;
@using Microsoft.AspNetCore.Html;
@inject Nop.Core.IWebHelper webHelper

@if (Model.OrderId > 0)
{

    <a class="btn bg-green" @*href="/Admin/Order/AddDPDShipment/@(Model.OrderId)"*@ href="@(Url.Action("AddDPDShipment", new { id = Model.OrderId }))">
        <i class="fa fa-cube"></i>
        Create DPD Shipment
    </a>

    <script>
        $(function () {
            $('#btnAddNewShipment').hide();
        });
    </script>

}